*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.grid-container {
    height: 100dvh;
    display: grid;
    grid-template-areas: "header"
                    "picture"
                    "main";
    grid-template-rows: repeat(4, auto auto auto);
    text-align: center; 
    place-content: center;
}

picture img {
    display: block;
    margin: auto;
}

header {
    grid-area: header;
    padding: 1.75rem;
}

.logo {
    width: 105px;
    height: auto;
}

picture {
    grid-area: picture;
}

.logo {
    display: block;
}

main {
    grid-area: main;
    display: grid;
    grid-template-areas: "h1"
                        "p"
                        "form";
    padding: 3.75rem 2rem 5.5rem;
    gap: 1rem;
    font-family: "Josefin Sans", sans-serif;
    color: hsl(0, 36%, 70%);
    background:linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}

h1 {
    grid-area: h1;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 300;
    letter-spacing: 10px;
    line-height: 2.75rem;
}

h1 span {
    color: hsl(0, 6%, 24%);
    font-weight: 600;
}

main p {
    grid-area: p;
    font-size: 14px;
    line-height: 1.5rem;
}

form {
    grid-area: form;
    margin-top: 1rem;
    position: relative;
}

input[type="text"] {
    width: 100%;
    height: 3rem;
    border-radius: 25px;
    border: 1px solid hsla(0, 36%, 70%, 0.7);
    padding-left: 2rem;
    font: inherit;
    background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}

input[type="text"]::placeholder {
    font: inherit;
    color:hsla(0, 36%, 70%, 0.7);
}

img[id="errorIcon"] {
    position: absolute;
    right: 85px;
    top: 12px;
    visibility: hidden;
}

input[type="image"] {
    position: absolute;    
    right: -1px;
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    border-radius: 25px;
    width: 4rem;
    height: 3rem;
    padding: 1rem 1.35rem 1rem 1.65rem;
    box-shadow: 0px 10px 15px 5px hsl(357, 36%, 90%);
}

input[type="image"]:active {
    background: linear-gradient(135deg, rgba(255, 229, 229, 1) 0%, rgba(237, 183, 183, 1) 100%);
}

p[id="invalidMsg"] {
    color: hsl(0, 93%, 68%);
    visibility: hidden;
    padding-left: 2rem;
    font-size: 13px;
    text-align: left;
}

input[type="text"].invalid {
    border: 1px solid hsl(0, 93%, 68%);
}


@media only screen and (min-width: 1024px) {

    .grid-container {
        grid-template-areas: "header picture"
                            "main picture";
        grid-template-columns: repeat(2, auto);
        text-align: left;
        place-content: center;
    }

    .grid-container:nth-child(odd) {
        background-image: url("images/bg-pattern-desktop.svg");
        background-repeat: no-repeat;
    }

    header {
        padding: 4rem 0 0 12rem;
    }

    .logo {
        width: 155px;
    }

    h1 {
        font-size: 4rem;
        line-height: 4.5rem;
    }

    main {
        padding: 0 12rem 10rem;
        gap: 0;
        background: none;
    }

    picture img {
        height: min(800px, 100vh);
        width: auto;
    }

    main p {
        font-size: 16px;
    }

    input[type="text"] {
        background: transparent;
    }

    input[type="image"] {
        width: 5rem;
        padding: 0.75rem 2rem 1rem 2.25rem;
    }

    @media only screen and (min-width: 1441px) {
        .grid-container:nth-child(odd) {
            background-size: cover;
        }
    }
}
